/* Table of Contents */
/*
- Variables

- Animations

- Root

- Fonts
--- Headings
--- Links
--- Lists

- Header

- Home Page
--- Hero
--- Ministries
--- About
--- Scripture
--- COVID

- Footer

- 404

- About Page
--- Hero
--- WhoWeAre
--- OurHistory


- Teaching Page
--- Hero
*/


/* ---------------
     Variables
------------------ */
:root {
    --color-blue: #1e4152;
    --color-yellow: #ddaf4c;
    --color-red: #c54a2b;
    --color-brown: #221c1b;
    --color-offwhite: #F2F2F2;
    --color-text: #494949;
    --color-heading: #0F0F0F;

    --fontSize-root: 14px;
    --lineHeight-normal: 1.5;
    --lineHeight-relaxed: 1.625;

    --fontSize-1: 1.05rem;
    --fontWeight-extrabold: 800;
    --fontWeight-bold: 700;
    --fontWeight-medium: 500;
    --fontWeight-regular: 400;
}

/* ---------------
     Animations
------------------ */
@keyframes opacityFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}


/* ---------------
     Root Styles
------------------ */
*,
:after,
:before {
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


/* ---------------
      Fonts
------------------ */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');
/* @import "./typography.css"; logo font */
@font-face {
  font-family: 'AphasiaBTRoman';
  src: url(../fonts/AphasiaBTRoman.woff2) format('woff2');
}


body {
    font-family: "Bitter", Arial, Helvetica, serif;
    line-height: var(--lineHeight-normal);
    font-size: var(--fontSize-root);
    color: var(--color-heading);
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--lineHeight-relaxed);
  letter-spacing: -0.025em;
}

h1, h2 {
  font-weight: var(--fontWeight-extrabold);
}

h3, h4, h5, h6 {
    color: var(--color-text);
    font-weight: var(--fontWeight-bold);
}

h1 { font-size: 1.5rem; }

h2 { font-size: 1.25rem; }

h3 { font-size: 1.125rem; }

h4 { font-size: 1.05rem; }

h5 { font-size: 1.025rem; }

h6 { font-size: var(--fontSize-1); }

/* media queries */
@media (min-width: 576px) {
  h1 { font-size: 2rem; }

  h2 { font-size: 1.5rem; }

  h3 { font-size: 1.25rem; }

  h4 { font-size: 1.1255rem; }

  h5 { font-size: 1.025rem; }

  h6 { font-size: var(--fontSize-1); }

  p {
    font-size: var(--fontSize-1);
    line-height: var(--lineHeight-normal);
  }
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: var(--lineHeight-relaxed);
}

/* Links */
a {
  color: var(--color-primary);
  word-break: break-word;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Lists */
ul { padding-left: 0; }
ul li {
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: flex;
}
ul li span {
  font-size: 2rem;
  margin-right: 1rem;
  overflow: visible;
}


/* -------------------
     Header Section
---------------------- */
header { background-color: var(--color-offwhite); }
.navbar div > a { text-decoration: none; }
.navbar-logo-font {
  font-family: "AphasiaBTRoman", serif;
  margin-bottom: 0;
}
.navbar-light .navbar-toggler {
  border: none;
  color: rgba(0, 0, 0, 1);
}
.navbar-toggler:focus {
  box-shadow: none;
  /* border: 2px solid rgba(0,0,0, .25); */
}


/* ----------------------
    Home - Hero Section
------------------------- */
.home-hero {
    background: url("../images/sandia-crest_02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding-top: 6rem;
    padding-bottom: 6rem;
    position: relative;
}
.home-hero-watermark {
  background-color: var(--color-offwhite);
  color: var(--color-text);
  font-size: 0.6rem;
  position: absolute;
  bottom: 0;
  left: .3rem;
  opacity: .7;
}


/* --------------------------
    Home - Ministry Section
----------------------------- */
main { background-color: var(--color-offwhite); }

.home-ministry {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.home-ministry-thumb {
  height: 12rem;
}
.home-ministry-thumb a {
  text-decoration: none;
}
.home-ministry-thumb a h1 {
  color: white;
  line-height: var(--lineHeight-normal);
}
.home-ministry-1 {
  background: url("../images/bible-leather-cross_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home-ministry-2 {
  background: url("../images/girl-color-hand_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home-ministry-3 {
  background: url("../images/coffee-lattes_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home-ministry-4 {
  background: url("../images/mountain-bikers_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 576px) {
  .home-ministry {
    padding-top: 6rem;
    padding-bottom: 6rem;
    max-width: 95%;
  }
}
@media (min-width: 992px) {
  .home-ministry {
    max-width: 80%;
  }
  .home-ministry-thumb { height: 16rem; }
}


/* ------------------------
    Home - About Section
--------------------------- */
.home-about {
    background: url("../images/bible-folded-hands_03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.home-about-bar {
  height:10px;
  background-color: var(--color-yellow);
}
.home-about h3,
.home-about p { color: var(--color-offwhite); }


/* ---------------------------
    Home - Scripture Section
------------------------------ */
.home-scripture {
  background-color: var(--color-offwhite);
  padding-top: 5rem;
  padding-bottom: 4rem;
}
.home-scripture col { position: relative; }
.home-scripture blockquote {
  font-size: 1.3rem;
  font-weight: bolder;
  line-height: 1.5;
}
.home-scripture blockquote small {
  font-size: var(--fontSize-1);
  font-weight: var(--fontWeight-medium);
}

@media (min-width: 576px) {
  .home-scripture {
    padding-top: 6rem;
    padding-bottom: 6rem;
    max-width: 90%;
  }
  .home-scripture blockquote { font-size: 1.5rem; }
}
@media (min-width: 992px) {
  .home-scripture { max-width: 70%; }
  .home-scripture blockquote { font-size: 2rem; }
}


/* -----------------------
    Home - COVID Section
-------------------------- */
.home-covid-bar {
  height:10px;
  background-color: var(--color-brown);
}
.home-covid {
  background-color: var(--color-red);
  color: white;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media (min-width: 576px) {
  .home-covid {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .home-covid-text { max-width: 90%; }
}
@media (min-width: 992px) {
  .home-covid-text { max-width: 70%; }
}


/* ---------
    Footer
------------ */
footer {
  background-color: var(--color-blue);
  color: var(--color-offwhite);
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 1rem;
}
footer .nav-item a {
  color: var(--color-offwhite);
  text-decoration: none;
}


/* ------------
    404 Error
--------------- */
.page-404 {
  background-color: var(--color-offwhite);

}


/* ----------------------
    About - Hero Section
------------------------- */
.about-hero {
  background: url("../images/bible-leather-cross_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding-top: 6rem;
  padding-bottom: 6rem;
  min-height: 400px;
}


/* ---------------------------
    About - Job Post Section
------------------------------ */
.about-job-post {
  color: var(--color-text);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.about-job-post .card { padding: 0; }


/* ------------------------
    About - WhoWeAre Section
--------------------------- */
.about-whoweare {
  background: url("../images/bible-folded-hands_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color-text);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.about-whoweare-bar {
  height:10px;
  background-color: var(--color-brown);
}
.about-whoweare h3,
.about-whoweare p { color: var(--color-text); }


/* -----------------------------
    About - OurHistory Section
-------------------------------- */
.about-our-history {
  background-color: var(--color-blue);
  color: var(--color-offwhite);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.about-our-history-bar {
  height:10px;
  background-color: var(--color-yellow);
}
.about-our-history h3 { color: var(--color-offwhite); }
@media (min-width: 576px) {
  .about-our-history{
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .about-our-history-text { max-width: 90%; }
}
@media (min-width: 992px) {
  .about-our-history-text { max-width: 60%; }
}


/* ------------------------
    About - Staff Section
--------------------------- */
.about-staff {
  background-color: var(--color-offwhite);
  color: var(--color-text);
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.about-staff-bar {
  height:10px;
  background-color: var(--color-yellow);
}
.about-staff-image {
  width: 150px;
  height: 150px;
  overflow-y: hidden;
}
.about-staff-image picture {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.what-we-believe-hero {
  background: url("../images/what-we-believe.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  padding-top: 6rem;
  padding-bottom: 6rem;
  min-height: 400px;
}

.what-we-believe-container{
  width: 80%;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* ----------------------
    Teaching - Hero Section
------------------------- */
.teaching-hero {
  background: url("../images/teaching.jpeg");

}

.teaching-container{
  width: 80%;
  margin: 0 auto;
}

.teaching-block{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.teaching-audio{
  border: 1px solid black;
  width: 100%;
  margin: 0 auto !important;
}