/* ---------------
     Variables
------------------ */
:root {
    --color-blue: #2c4652;
    --color-yellow: #ddaf4c;
    --color-red: #c54a2b;
    --color-offwhite: #F2F2F2;
    --color-text: #494949;
    --color-heading: #0F0F0F;

    --fontSize-root: 14px;
    --lineHeight-normal: 1.5;
    --lineHeight-relaxed: 1.625;

    --fontSize-1: 1rem;
    --fontWeight-extrabold: 800;
    --fontWeight-bold: 700;
    --fontWeight-medium: 500;
    --fontWeight-regular: 400;
}

/* ---------------
     Animations
------------------ */
@keyframes opacityFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 100;
    }
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


/* ---------------
      Fonts
------------------ */
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');
/* @import "./typography.css"; logo font */
@font-face {
  font-family: 'AphasiaBTRoman';
  src: url(../fonts/AphasiaBTRoman.woff2) format('woff2');
}


body { 
    font-family: "Bitter", Arial, Helvetica, serif; 
    line-height: var(--lineHeight-normal);
    font-size: var(--fontSize-root);
    color: var(--color-heading);
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--lineHeight-relaxed);
  letter-spacing: -0.025em;
}

h1, h2 {
  font-weight: var(--fontWeight-extrabold);
}

h3, h4, h5, h6 { 
    color: var(--color-text); 
    font-weight: var(--fontWeight-bold); 
}

h1 { font-size: 1.5rem; }

h2 { font-size: 1.25rem; }

h3 { font-size: 1.125rem; }

h4 { font-size: 1.05rem; }

h5 { font-size: 1.025rem; }

h6 { font-size: var(--fontSize-1); }

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: var(--lineHeight-relaxed);
}

/* Links */
a {
  color: var(--color-primary);
  word-break: break-word;
}

a:hover,
a:focus {
  text-decoration: none;
}


/* ----------------------
    Home - Hero Section
------------------------- */
header { background-color: var(--color-offwhite); }
.navbar div > a { text-decoration: none; }
.navbar-logo { 
  font-family: "AphasiaBTRoman", serif;
  margin-bottom: 0; 
}
.navbar-light .navbar-toggler {
  border: none;
  color: rgba(0, 0, 0, 1);
}


/* ----------------------
    Home - Hero Section
------------------------- */
.home-hero {
    background: url("../images/sandia-crest_02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding-top: 8rem;
    padding-bottom: 8rem;
}


/* --------------------------
    Home - Ministry Section
----------------------------- */
main { background-color: var(--color-offwhite); }

.home-ministry {     
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.home-ministry-thumb {
  height: 12rem;
}
.home-ministry-thumb a {
  text-decoration: none;
}
.home-ministry-thumb a h1 {
  color: white;
  line-height: var(--lineHeight-normal);
}
.home-ministry-1 {
  background: url("../images/bible-leather-cross_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home-ministry-2 {
  background: url("../images/girl-color-hand_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home-ministry-3 {
  background: url("../images/coffee-lattes_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.home-ministry-4 {
  background: url("../images/mountain-bikers_02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


/* ------------------------
    Home - About Section
--------------------------- */
.home-about {
    background: url("../images/bible-folded-hands_03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.home-about-bar {
  height:10px;
  background-color: var(--color-yellow);
}
.home-about h3,
.home-about p { color: var(--color-offwhite); }


/* ---------------------------
    Home - Scripture Section
------------------------------ */
.home-scripture {
  background-color: white;
  padding-top: 6rem;
  padding-bottom: 6rem;
}
.home-scripture col { position: relative; }
.home-scripture blockquote { 
  font-size: 1.5rem;
  line-height: 1.5;
}
blockquote::before {
  content: open-quote;
  /* Place it at the top-left */
  top: 0;
  left: 0;
}
blockquote::before {
  color: var(--color-yellow);
  display: block;
  line-height: 0;
  font-size: 4em;
  position: relative;
}